<div class="continer">
  <div class="form">
    <%  @user.errors.full_messages.each do |message|%>
      <div class="error-mes">
        <%= message %>
      </div>
    <% end %>
    <%=form_with(model: @user)do%>
      <div class="form-cotent">
        <div class="new-name">
          <p>名前</p>
          <input type="text" name="name" value="">
        </div>
        <div class="new-email">
          <p>メールアドレス</p>
          <input type="email" name="email" value="">
        </div>
        <div class="new-password">
          <p>パスワード</p>
          <input type="password" name="password" value="">
        </div>
      </div>

      <div class="save-btn">
        <input type="submit" name="" value="決定">
      </div>
    <% end %>
    <div class="google-btn">
      <%= link_to 'Googleアカウントで登録', guser_google_omniauth_authorize_path %>
      <!-- Googleログイン -->
    </div>
  </div>
</div>
